.about-me {
  $self: &;
  z-index: -100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  gap: 0.3rem;
  z-index: 0;
  text-transform: uppercase;
  font-family: $font-neue-montreal;
  &__container {
    perspective: 40px;

    #{ $self }__name {
      display: inline-block;
      text-transform: uppercase;
      font-size: calc(7 * 1em);
      transition: transform 0.5s;
      word-wrap: break-word;
      width: fit-content;
      cursor: default;
      text-shadow: 0.03em 0.03em 0 #464646;
      @media (max-width: $to-small) {
        font-size: calc(4 * 1em);
      }

      @media (min-width: $from-small) and (max-width: $to-medium) {
        font-size: calc(6 * 1em);
      }

      @media (min-width: $from-medium) {
        font-size: calc(7 * 1em);
      }
    }
    #{ $self }__text {
      color: #ffc512;
      margin-left: 1rem;
      @media (max-width: $to-small) {
        font-size: 2em;
      }

      @media (min-width: $from-small) and (max-width: $to-medium) {
        font-size: calc(3 * 1em);
      }

      @media (min-width: $from-medium) {
        font-size: calc(4 * 1em);
      }
    }
  }
}
