#footer {
  display: flex;
  .footer-bar {
    margin-top: auto;
    height: 20vh;
    width: 100%;
    background-color: rgb(35, 35, 35);
    border-radius: 2rem 2rem 0 0;
  }
  // background-color: $bg-footer;
}
