.header {
  $self: &;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  border-radius: 25px;
  z-index: 1;
  &__actions {
    @include backdrop-blur(8px);
    position: fixed;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 8px;
    min-width: 60%;
    height: 2.5rem;
    padding: 1rem;
    border: 1px hsla(0,0%,100%,.16) solid;
    background-color: transparent;
    top: 0.5rem;
    border-radius: 25px;
    transition: all 0.2s ease-in-out;
    &.hide {
      top: -5rem;
    }
    #{ $self }__title {
      text-transform: uppercase;
      font-size: medium;
      left: auto;
    }
    #{ $self }__page-links {
      display: flex;
      margin-left: 1.75rem;
      gap: 18px;
      a {
        color: white;
        text-decoration: none;
        &:hover {
          color: rgb(159, 159, 159);
        }
      }
    }
    #{ $self }__translate-section {
      margin-left: auto;
      height: inherit;
      &:hover > .lang-button > .lang-button__border{
        opacity: 1;
      }
      .lang-button {
        @include backdrop-blur(4px);
        position: relative;
        height: inherit;
        width: 6rem;
        background-color: rgba(255, 255, 255, 0.1);
        text-align: center;
        border-radius: 13px;
        cursor: pointer;
        &.selected {
          background-color: #ffc412dd;
        }

        @include hover-background-opacity;

        &::before {
          z-index: 3;
          @include background-border-setup;
        }

        &__border {
          @include radial-background(150px, rgba(181, 164, 11, 0.5), transparent);
          z-index: 1;
          @include background-border-setup;
        }

        &__text {
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: rgb(23, 23, 23, 0.6);
          border-radius: inherit;
          margin: 1px;
          height: calc(100% - 2px);
          width: calc(100% - 2px);
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}

