.header {
  position: absolute;
  display: flex;
  align-items: center;
  height: 3rem;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  &__title {
    margin-left: 1rem;
  }
  &__actions {
    position: fixed;
    display: flex;
    margin-right: 2rem;
    gap: 8px;
    justify-content: flex-end;
    width: 60%;
    height: 2.5rem;
    background-color: transparent;
    right: 0;
    &:hover > .lang-button > .lang-button__border{
      opacity: 1;
    }
    .lang-button {
      position: relative;
      width: 6rem;
      background-color: rgba(255, 255, 255, 0.1);
      text-align: center;
      border-radius: 7px;
      cursor: pointer;
      &.selected {
        background-color: rgb(49, 123, 243, 0.8);
      }
      &::before {
        background: radial-gradient(
          150px circle at var(--mouse-x) var(--mouse-y), 
          rgba(255, 255, 255, 0.2), 
          transparent 40%
        );
        z-index: 3;
      }
      &__border {
        background: radial-gradient(
          150px circle at var(--mouse-x) var(--mouse-y), 
          rgba(255, 255, 255, 0.5), 
          transparent 40%
        );
        z-index: 1;
      }
      &::before, &__border {
        content: "";
        border-radius: inherit;
        height: 100%;
        left: 0;
        position: absolute;
        opacity: 0;
        transition: opacity 500ms;
        top: 0;
        width: 100%;
      }
      &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(23, 23, 23, 0.6);
        border-radius: inherit;
        margin: 1px;
        height: calc(100% - 2px);
        width: calc(100% - 2px);
        position: relative;
        z-index: 2;
      }
    }
  }
}

