.resume {
  height: fit-content;
  margin-inline: auto;
  align-items: stretch;
  gap: 1.5rem;
  margin: 15px 12px;
  &:hover > .card > .card__border {
    opacity: 1;
  }
  .card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    &:hover::before {
      opacity: 1;
    }
    &::before {
      background: radial-gradient(
        2500px circle at var(--mouse-x) var(--mouse-y),
        rgba(0, 0, 0, 0.2),
        transparent 40%
      );
      z-index: 3;
    }
    &__border {
      background: radial-gradient(
        2000px circle at var(--mouse-x) var(--mouse-y),
        rgb(111, 111, 92),
        transparent 40%
      );
      z-index: 1;
    }
    &::before,
    &__border {
      content: "";
      position: absolute;
      opacity: 0;
      transition: opacity 500ms;
      border-radius: inherit;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 2;
    }
    &__content {
      background-color: rgb(23, 23, 23, 0.6);
      border-radius: inherit;
      margin: 1px;
      position: relative;
      padding: 30px;
      height: calc(100% - 62px);
      width: calc(100% - 62px);
      z-index: 2;
    }
  }
  .main-content {
    flex-grow: 3;
    min-height: fit-content;
    &__title {
      padding-bottom: 0.75rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 10px;
        background: linear-gradient(to right, #ffc512, #e6c666, #308bd3);
        border-radius: 3px;
      }
    }
  }
}

.sidebar {
  $self: &;
  margin-bottom: 15px;
  position: sticky;
  height: fit-content;
  border-radius: 7px;
  &__header {
    top: 1rem;
    max-height: max-content;
    height: 100%;
    margin-bottom: 0;
    padding-top: 1rem;
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    #{ $self }__name {
      color: #fff;
      font-size: 26px;
      font-weight: 500;
      letter-spacing: -0.25px;
      margin-bottom: 10px;
    }
    #{ $self }__title {
      color: white;
      background: #ffc512;
      font-size: 13px;
      font-weight: 600;
      width: max-content;
      padding: 3px 12px;
      border-radius: 8px;
    }
  }
  &__body {
    .separator {
      height: 2px;
      border-radius: 2px;
      margin: 32px 0;
      width: 100%;
      background: #ffc512;
      &:last-of-type {
        opacity: 0;
      }
    }
    #{ $self }__contacts-list {
      display: grid;
      grid-template-columns: 1fr;
      gap: 30px 15px;
      #{ $self }__contact-item {
        list-style: none;
        min-width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;
        #{ $self }__icon-box {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          background: #ffc512;
          color: #fff;
          width: 48px;
          height: 48px;
          border-radius: 12px;
          font-size: 18px;
        }
        #{ $self }__contact-info {
          font-style: normal;
          #{ $self }__contact-title {
            color: #fff;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 2px;
          }
          #{ $self }__contact-link {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 300;
            text-decoration: none;
            font-size: 14px;
            color: #fff;
          }
          address {
            font-size: 14px;
            font-style: normal;
          }
        }
      }
    }

    #{ $self }__social-list {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding-bottom: 4px;
      padding-left: 7px;
      #{ $self }__social-item {
        list-style: none;
        #{ $self }__social-link {
          color: white;
          font-size: 20px;
        }
      }
    }
  }
}

.main-content {
  &__resume {
    .article-title {
      position: relative;
      padding-bottom: 20px;
      margin-bottom: 30px;
      font-weight: 600;
      &::after {
        width: 40px;
        height: 5px;
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: #ffc512;
        border-radius: 3px;
      }
    }
    .timeline {
      margin-bottom: 30px;
      &__title {
        text-transform: uppercase;
      }
      .title-wrapper {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-bottom: 25px;
        .icon-box {
          position: relative;
          display: flex;
          background: #ffc512;
          justify-content: center;
          align-items: center;
          width: 48px;
          height: 48px;
          border-radius: 12px;
          font-size: 18px;
          z-index: 1;
          &:hover::before {
            content: "";
            position: absolute;
            inset: 1px;
            background: #fccc3b;
            border-radius: inherit;
            z-index: -1;
          }
        }
      }
      .timeline-list {
        .timeline-item {
          display: flex;
          flex-direction: column;
          gap: 0.2em;
          margin-left: 35px;
          list-style: none;
          position: relative;
          .badge {
            text-decoration: none;
            width: 100px;
            height: 100px;
            &__image {
              width: inherit;
              height: inherit;
            }
          }
          &__title{
            .company-name {
              color: #fccc3b;
              text-decoration: none;
            }
          }
          &__text {
            text-align: justify;
          }
          &:not(:last-child) {
            margin-bottom: 20px;
          }
          &:not(:last-child)::before {
            content: "";
            position: absolute;
            top: -25px;
            left: -50px;
            width: 1px;
            height: calc(100% + 50px);
            background: #fccc3b;
          }
          &::after {
            content: "";
            position: absolute;
            top: 5px;
            left: -53px;
            height: 8px;
            width: 8px;
            background: #b18708;
            border-radius: 50%;
            box-shadow: 0 0 0 4px #efc958;
          }
        }
      }
    }
  }
}


@media (min-width: $from-medium) {
  .resume {
    max-width: 85vw;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-inline: auto;
    .sidebar {
      min-width: 340px;
      margin-bottom: 0;
      max-height: max-content;
    }
  }
}
