@font-face {
  font-family: 'BebasNeue';
  src:  url('../../utils/BebasNeue-Regular.ttf') format('ttf');
}


.about-me {
  $self: &;
  z-index: -100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 3rem;
  gap: 0.25rem;
  z-index: 0;
  &__container {
    perspective: 40px;
    #{ $self }__name {
      display: inline-block;
      font-family: 'Bebas Neue', cursive;
      font-size: calc(10 * 1em);
      transition: transform 0.5s;
      word-wrap: break-word;
      height: fit-content;
    }
    #{ $self }__text {
      color: #FFC512;
      font-size: calc(2 * 1em);
      margin-left: 1rem;
    }
  }
  canvas {
    position: fixed;
    top:0;
    left:0;
    z-index: -1;
  }
}