.main {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  justify-content: center;
  width: 100vw;
  font-size: 1.5rem;
  &__title {
    font-size: calc(2.5 * 1em);
  }
  &__sub-title {
    color: $clr-purple;
    font-weight: 600;
  }
  &__description {
    padding: 1rem;
    font-weight: bold;
    color: $clr-yellow;
  }
}
