.resume {
  display: flex;
  margin-inline: auto;
  align-items: stretch;
  gap: 1.5rem;
  padding: 1rem 10rem;
  &:hover > .card > .card__border {
    opacity: 1;
  }
  .card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 7px;
    &:hover::before {
      opacity: 1;
    }
    &::before {
      background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.2), 
        transparent 40%
      );
      z-index: 3;
    }
    &__border {
      background: radial-gradient(
        800px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.5), 
        transparent 40%
      );
      z-index: 1;
    }
    &::before, &__border {
      content: "";
      position: absolute;
      opacity: 0;
      transition: opacity 500ms;
      border-radius: inherit;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      z-index: 2;
    }
    &__content {
      background-color: rgb(23, 23, 23, 0.6);
      border-radius: inherit;
      margin: 1px;
      position: relative;
      height: calc(100% - 2px);
      width: calc(100% - 2px);
      z-index: 2;
    }
  }
  .sidebar {
    flex-grow: 1;
    height: fit-content;
    border-radius: 7px;
  }
  .main-content {
    flex-grow: 3;
    &__title {
      padding-bottom: 0.75rem;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 40%;
        height: 10px;
        background: linear-gradient(to right,
        #FFC512,
        #e6c666,
        #308BD3);
        border-radius: 3px;
      }
    }
  }
}
