$bg-dark: #111212;


$clr-purple: #B2A4FF;
$clr-dark-purple: #6255ab;
$clr-yellow: #FFC512;
$clr-3b-yellow: #FCCC3B;
$clr-dark-yellow: #B18708;
$clr-opaque-yellow: #FFC412DD;
$clr-white: #f1e6e6;
$clr-opaque-white: #f1e6e6a0;
$clr-black: #272727;
$clr-footer: #121111e9;


//Structure from locomotive.js: https://github.com/locomotivemtl/locomotive-scroll
// Typefaces
// =============================================================================
$font-sans-serif: Arial, sans-serif;

// Typography
// =============================================================================
// Base
$font-size:   16px;
$line-height: calc(24px / $font-size);
$font-family: $font-sans-serif;
$font-neue-montreal: 'Neue Montreal';


// Weights
$light:  300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold:   700;


// Breakpoints
// =============================================================================
$from-tiny:     500px              !default;
$to-tiny:       $from-tiny - 1     !default;
$from-small:    700px              !default;
$to-small:      $from-small - 1    !default;
$from-medium:   1000px             !default;
$to-medium:     $from-medium - 1   !default;
$from-large:    1200px             !default;
$to-large:      $from-large - 1    !default;
$from-big:      1400px             !default;
$to-big:        $from-big - 1      !default;
$from-huge:     1600px             !default;
$to-huge:       $from-huge - 1     !default;
$from-enormous: 1800px             !default;
$to-enormous:   $from-enormous - 1 !default;
$from-gigantic: 2000px             !default;
$to-gigantic:   $from-gigantic - 1 !default;
$from-colossal: 2400px             !default;
$to-colossal:   $from-colossal - 1 !default;

