$bg-about-me: #747a97;
$bg-experience: #5c6177;
$bg-knowledge: #4c5062;
$bg-footer: #363946;
$bg-dark: #363946;


$clr-light: #fff;
$clr-purple: #B2A4FF;
$clr-dark-purple: #6255ab;
$clr-yellow: #F8C269;

